# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.project-root > .header': [
    {
      'label': 'Add Project To Codekit'
      'command': 'atom-codekit:addProject'
    }
  ],
  'atom-text-editor': [
    {
      'label': 'Preview Project'
      'command': 'atom-codekit:previewProject'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Codekit Commands'
      'submenu': [
        {
          'label': 'Preview Project'
          'command': 'atom-codekit:previewProject'
        }
      ]
    ]
  }
]
